<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="{% static 'form/style.css' %}">
</head>
<body>

<div class="features" style="position:relative;top:31px;left:440px;">
    <button id="addSec">
        Add Section
    </button>
    <button id="addField">
        Add Field
    </button>

<!--Todo-->
    <button id="submit">
        Submit
    </button>


</div>



<div class="formHead">
    <form method="post" action="{% url 'create' %}">
        <div class="formHead__title">
            {%csrf_token%}
            {{form.title}}
        </div>
        <div class="formHead__des">
            {%csrf_token%}
            {{form.description}}
        </div>
    <input type="submit" style="position:relative;top:-120px;left:664px;display:none;">
    </form>
</div>


<div class="section">
    <label>Section Title</label>
    <input type="text" id="sec_title_1">
    <label>Description</label>
    <textarea id="sec_des_1"></textarea>
</div>

<div class="field">
    <label>Description </label><span class="description"><textarea id="description_1"></textarea></span>
    <br>
    <label>
        <input type="text" value="Label" id="label_1">
    </label>
    <select name="fields" id="choice_1">
        <optgroup label="Choices">
        <option value="choice">Choices</option>
        <option value="multipleChoices">multipleChoices</option>
        <option value="dropDown">dropDown</option>
        </optgroup>
        <optgroup label="NoChoices">
        <option value="text">TextField</option>
        <option value="date&time">DateTime</option>
        <option value="fileUpload">FileUpload</option>
        <option value="number">NumberOnly</option>
        </optgroup>
    </select>

</div>


<script src="{%static 'form/main.js'%}"></script>
<script src="{%static 'form/submit.js'%}"></script>
</body>
</html>