<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {%load static%}
<link rel="stylesheet" href="{%static 'form/response.css' %}">
</head>
<body>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1 scroll1">
        <li class="tab"><a href="#test1">FORUMS</a></li>
        <li class="tab"><a class="active" href="#test2">RESPONSE</a></li>
      </ul>
      <div id="test1" class="col s12">
          <p>Test 1</p>

    </div>
      <div id="test2" class="col s12">
        <nav style="margin-top: 10px;">
            <div class="nav-wrapper red">
              <a href="" class="brand-logo center">Response</a>
            </div>
          </nav>
          <div class="card white">
<div class="card-header">
  <div class="full_header">
    <div class="header">
    <i class="material-icons">account_circle</i>
    <h5>Nitesh kumar </h5>
    <span>. Reply</span>

</div>
    <p style="font-size: 15px; color: grey;margin-left: 39px; margin-top: -8px;">12:00:00 PM</p>
  </div>
    <div class="right">
    <i class="material-icons">more_vert</i>
</div>

</div>

<div class="card-content black-text">
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width scroll">
        <li class="tab"><a class="active" href="#test3">Name</a></li>
        <li class="tab"><a  href="#test4">Roll No</a></li>
        <li class="tab"><a  href="#test5">Profile Pic</a></li>
         <li class="tab"><a href="#test6">Gender</a></li>
            <li class="tab"><a  href="#test7">Skills</a></li>
            <li class="tab"><a class="active" href="#test8">Started Date</a></li>

                        </ul>
    </div>
      <div id="test3" class="col s12 margin">

    <h5>Answer</h5>
    <p>Anmol kumar</p>
    </div>
    <div id="test4" class="col s12 margin">
        <h5>Answer</h5>
<p>180895</p>

  </div>
  <div id="test5" class="col s12 margin">
    <h5>Answer</h5>
    <img src="anmol.jpg" alt="">

</div>
<div id="test6" class="col s12 margin">
    <h5>Answer</h5>
  Male

</div>
<div id="test7" class="col s12 margin">
    <h5>Answer</h5>
    <p>Frontend, Backend, Microservice</p>
</div>
<div id="test8" class="col s12 margin">
    <h5>Answer</h5>
    <p>20-Aug-2017</p>
</div>
</div>

      </div>
      </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</body>
</html>